= content_for :head do
	= javascript_include_tag :high_charts
|	
= link_to 'Oportunidades por estágio', snapshot_by_stages_admin_reports_path 
| 
= link_to 'Oportunidades por pessoa', snapshot_by_assignment_admin_reports_path
|